body{
    background-color: #eee !important;
}
.generalCont{
    display: flex;
    width: 95%;
    background-color: #fff;
    margin:auto;
    margin-top: 2.5%;
     border: 1.5px solid rgb(255, 224, 224);
     box-shadow: -0.5px -0.5px 1px  rgb(250, 224, 224) ; 
    border-radius: 6px;
    overflow: hidden;
    padding-left: 5%;
    padding-right: 5%;
    flex-direction: column;
    }

.carritoNav{
    width: 100%;
    height: 20vh;
    display: flex;
    
    padding-top: 1.5%;
    border-bottom: 1px solid rgb(255, 221, 221);}


.itemNav{
    
    font-size: 1.3rem;
    /* font-family: 'Roboto', sans-serif;  */
    
    font-family: 'Open Sans', sans-serif;
    /*  font-family: 'Comfortaa', cursive; */
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 20%;
}

.itemNav:hover{
   
border-bottom: 2px solid #00ADB5;
}

.ItemsCont{
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

.itemCarrito{
    
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 25vh;
    padding-top: 3%;
    padding-bottom: 3%;
    border-bottom: 1px solid rgb(255, 221, 221);}


.itemCarritoPicDesc{
    display: flex;
    height: 65%;
    width: 100%;
    align-items: start;
}
.itemCarritoPic{
    width: 6%;
    height: 95%;
    padding-right: 7%;
    overflow: hidden;

/*     overflow: hidden;
 */
}
.itemCarritoPic img{
    height: 95% ;
  
   object-fit: contain;
   
}
.itemCarritoDesc{
    width: 55%;
    height: 100%;
}

.itemCarritoDesc span{
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4rem;
    font-weight: bold;
}

.itemCarritoCantidad{

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 25%;
    height: 100%;
}

.inputStock{
    
    background-color: #EEEEEE;
    width: 60%;
    border-radius: 3px;
    box-shadow: 0px 1px 0px 0px #b9b9b9 ;
    padding: 4px 9px;
    border: none;
    border-bottom: solid 1px #00ADB5;
    border-right: solid 1px #00ADB5 ;
}
.inputStock:focus{
    
    outline: none;
    
}

.itemCarritoPrecio{
    width: 14%;
    height: 100%;
    display: flex;
    justify-content: end;
    

}
.itemCarritoPrecio span{
color: black;
font-family: 'Open Sans', sans-serif;
font-size: 1.8rem;
font-weight: bold;
}

.itemOptions{
    padding-left: 7%;
    display: flex;
    width: 100%;
    height: 20%;
}

.itemOptions a{
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    text-decoration: none;
    font-size: 0.95rem;
    color: #00ADB5;
}

.sumario{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 22%;
    padding-top: 3.5%;
    padding-bottom: 3.5%;
    align-items: flex-end;
}


.sumarioDestino{
    display: flex;
    width: 60%;
    height: 30%;
    justify-content: end;

}

.sumarioDestino span{
    font-family: 'Comic Sans', sans-serif;
    font-weight: lighter;
    font-size: 1.3rem;
    color: #00ADB5;
}

.sumarioPrecio{
    display: flex;
    width: 25%;
    height: 30%;
    justify-content: space-between;

}
.sumarioPrecio span{
    font-family: 'Comic Sans', sans-serif;
    
    font-size: 1.3rem;
    color: #000000;
}
.sumarioBtn{
    padding: 1%;
    height: 35%;
    width: 25%;
}

.sumarioBtn button{
    width: 100%;
    
    border: none;
    border-radius: 5px;
    background-color: #00ADB5;
    color: #fff;
/*     border: 1px solid #00ADB5;
 */    font-weight: bold;
    box-shadow: 1px  1px 0px 0px #92969c;
    padding: 12px 26px;
    transition: background-color 1s;

}