
body{
    background-color: #eee !important;
    
}
.aboveHeader{
    background-color: #252A34;
    height: 3.5vh;
    box-shadow: 1px 2px 1px 1px rgb(241, 169, 169);

}
.insideAboveHeader{
    margin: auto;
    display: flex;
    height: 90%;
    width: 95%;
    font-size: 0.8rem;
    text-decoration: none;
    color: #eee;
}
.loginRegister{
    margin-left: 1.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.loginRegister a{
    color: #eee;
    font-size: 0.8rem;
    text-decoration: none;
}

.loginRegister a:hover{
    color: rgb(176, 174, 174);
    
}

.header{
    padding: 1%;
    background-color: #00ADB5;
    height: 12vh;
    box-shadow: 1px 2px 1px 1px rgb(241, 169, 169);
    
}
.insideHeader{
    margin: auto;
    display: flex;
    justify-content: space-between;
    height: 90%;
    width: 95%;
    
}
.underHeader{
    display: flex;
    background-color: #fff;
    height: 5vh;
    box-shadow: 1px 2px 7px rgb(231, 200, 200);
    z-index: 100;

}

.insideUnderHeader{
    

    margin: auto;
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 92%;
    font-size: 0.9rem;
    font-family: 'Roboto', sans-serif;

    /* font-family: 'Open Sans', sans-serif; */
    /*  font-family: 'Comfortaa', cursive; */

    font-weight: 300;
    color: #9b9d9f;
}
.insideUHitem{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: border-color 1.5s;
}
 .insideUHitem:hover{
    
    border-bottom: 2px solid #656a71 ;
    border-color: rgb(129, 126, 126);

 }

 .insideUHitem span {
    
    text-decoration: none;
    color: #656a71;
    transition: color 1.5s;

}

 .insideUHitem:hover span{
    color:#656a71;

 }

 
.insideUHitem a {
    
    text-decoration: none;
    color: rgb(99, 99, 99);;
    transition: color 1.5s ;

}


.insideUHitem a:hover{

    color:#656a71;


}

.insideUHitemsGroup{
display: flex;
width: 25%;
}

.logoFull{
    display: flex;
}

.logoLetras{
    margin-left: 0.5%;
    font-size: 1.5rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    font-family: 'Lexend Deca', sans-serif;
    justify-content: center;
}

.logoImg{
   
 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logoutIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8%;
    color: #fff;
}

.logoutIcon a{
    color: #fff;
    text-decoration: none;
    margin: 0;
}

.logoutIcon span{
    font-size: 30px;
    transition: color 2s;
}

.logoutIcon span:hover{
    color:#b9b9b9 ;
}

.carrusel{
    margin:auto;
    width: 90%;
    margin-top: 2.5%;
    margin-bottom: -2%;
    height: 40vh;
}

.carruselitem{
    height: 35vh;
    object-fit: cover;
    top: 0;
}


.containerAllProductos{
    margin: auto;   
    width: 90%;
   margin-top: 3%;
}

.container4productos{
    justify-content: space-between;
    display: flex   ;
    height: 45%;
    width: 100%;
}


.container1producto{
    display: flex   ;
flex-direction: column;
    background-color: #fff;
  
    height: 330px;
    width:23% ;
    border:   1px solid rgb(180, 180, 180);
    ;
}

.container1productoPic{
    
    height: 70%;
    width: 100%;
}
.container1producto:hover{
    
    
    box-shadow: 1px 3px 8px 1px rgb(189, 189, 189);

}

.container1productoPrice{
    border-top: 1px solid rgb(179, 179, 179) ;
    height: 30%;
    width: 100%;
}


.botonCarrusel{
    opacity: 1 !important;
    margin-left: 4%;
    color: rgb(155, 155, 155) !important;
    font-size:35px !important;
    transition: color 2s;
}

/* .botonCarrusel:hover span{
    color: rgb(233, 3, 3) !important;
} */

.botonCarrusel-left{
    top: -8% !important;
left:-5.8% !important;
}

.botonCarrusel-right{
    top: -8% !important;
right: -5.8% !important; 
}

.bannerCategoria{
    height: 25vh;
    width: 100%;
    margin: auto;
margin-bottom: 3%;
border-radius: 5px;}

.bannerCategoriaHogar{
    background: url(/img/HOGAR.JPG) center no-repeat;
    object-fit:cover ;
    background-position: top left;
}

.bannerCategoriaElectro{
    background: url(/img/electro.jpg) center no-repeat;
    object-fit:cover ;
    background-position: top left;
}


.carousel-inner{
    overflow: visible !important;
}


.half-circle {
    position: absolute;
    opacity: 0.8;
    width: 60px;
    height: 40px;
    background-color: rgb(196, 195, 195);
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-color: transparent;
    border: 0;
    transition: background-color 1s ;
}   


.half-circle.left {
    transform: rotate(90deg);

    
}

.half-circle.right {
    transform: rotate(270deg);

    
}
.half-circle:hover{
    background-color: rgb(240, 239, 239);
    opacity: 0.5;
    /* border-bottom: 0; */
    
}